{% extends 'base.html' %}

{% block body %}
    <h2>{{ message }}</h2>
    {% if movies %}
        <h1>{{ director.name }}'s Already Present Movies</h1>
        {% for movie in movies %}
            <h2>{{ movie.title }} <i>({{ movie.year }})</i> </h2>
            <br>
        {% endfor %}
    {% endif %}

    <h1>Add a new movie</h1>
    <form action="/movie/create_movie/{{ director.id }}" method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

{% endblock %}