{% extends 'base.html' %}

{% block body %}
    <br>
    <h1>Welcome to CinemaPerTe {{ request.user.first_name }}!</h1>

    <h3><a href="/movie/create"> Add A Film</a></h3><br>

    <h3><a href="/movie/search"> Search a Movie </a></h3><br>

    <h3><a href="/movie/movies_list"> List Movies </a></h3><br>

    <h3><a href="/movie/watched_movies"> Watched Movies </a></h3><br>

    <h3><a href="/review/user/{{ request.user.id }}"> My Reviews </a></h3><br>

    <h3><a href="/review/search_user"> Search User </a></h3><br>

{% endblock %}