{% extends 'base.html' %}

{% block body %}
    <h1>{{ movie.title }}<i> ({{ movie.year }})</i></h1>
    {% if movie.image %}
    <img src="{{ movie.image.url }}">
    {% endif %}
    <h2>by {{ movie.director.name }}</h2>

    <a href="/review/rate/{{ movie.id }}"><h3>Review this Movie</h3></a>
    <br>
    {% for review in reviews %}
        <h2>{{ review.user.first_name }} {{ review.user.last_name }}</h2>
        <h3>Rating: {{ review.rating }}/10</h3>
        <h3>{{ review.comment }}</h3>
        <br>
    {% endfor %}

{% endblock %}